.top{
    display: flex;
    justify-content: space-between;
}

.heading{
    color: aqua;
    text-align: center;
    margin-bottom: 30px;
}

#canvas{

    
    margin-top: 45px;
    margin-left: 20px;
}

#sort-btn{
    margin-top: 15px;
}